:root{
	--width: 300px;
	--padding: 10px;
	--bgcolor: rgb(52, 52, 52);
	--hovercolor: rgb(23, 23, 23);
	--width-collapsed: 50px;
}
body{
	background: url(https://epc-ucb.edu.bo/epc/images/harvard/c16194787837b42a12568419833c514b.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 0;
	margin: 0;
	margin-left: var(--width-collapsed);
}
/*-----------------------Portafolio--------------------------------*/
/*----------------------------------------------|portafolio|-----------------------------------------------------*/
.contenedor{
	padding: 10px 0;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.galeria-port{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.imagen-port{
	width: 24%;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 240px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	border-radius: 8px;

}
.imagen-port img{

	object-fit: cover;
	display: block;

	margin: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px;
}

.hover-galeria{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale(0);
	background: hsla(281, 77%, 44%, 0.5);
	transition: transfom .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hover-galeria img{
	width: 50px;
}

.hover-galeria p{
	color: #fff;
	font-size: 28px;
	text-align: center;
}

.imagen-port:hover .hover-galeria{
	transform: scale(1);
}

.textInicio{
	padding-left: 22%;
  	padding-right: 22%;
  	padding-top: 32px;
  	text-align: justify;
  	line-height: 200%;
  	margin-bottom: 20px;
}
.textInicio p{
	font-family: 'Arial';
	font-size: 20px;
	color:#000; 
}

.textInicio img{
	margin-left: auto;
  	margin-right: auto;
  	margin:10px auto;
	display:block;
}
#C1{
	color: #fff;
	font-size: 20px;
	font-family: 'Arial';
}
#C2{

	text-align: left;
	color: #fff;
	font-size: 20px;
	font-family: 'Arial';

}
/*-----------------------------------------------------------------*/
.body-expanded{
	margin-left: var(--width);
}
#main-container{
	color: white;
}
#sidemenu{
	background-color: var(--bgcolor);
	color: white;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
}
#sidemenu a{
	color: white;
	text-decoration: none;

}

/* Header */

#sidemenu #header{
	box-sizing: border-box;
	border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title{
	box-sizing: border-box;
	overflow: hidden;
}
#sidemenu #header #title, #sidemenu	#header #menu-btn{
	vertical-align: middle;
}
#sidemenu #header #menu-btn{
	display: inline-block;
}
#sidemenu #header #menu-btn{
	cursor: pointer;
	padding: 10px;
	width: var(--width-collapsed);
	box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover{
	background-color: var(--hovercolor);
}
#sidemenu #header #menu-btn .btn-hamburger{
	background-color: #fff;
	width: 95%;
	height: 2px;
	margin: 5px 0;
}
/* Profile */
#sidemenu #profile{
	border-bottom: solid 1px var(--hovercolor);
	padding: var(--padding) 0;
	text-align: center;
}
#sidemenu #profile #photo{
	box-sizing: border-box;
	padding: var(--padding);
	margin: 0 auto;
}
#sidemenu #profile #photo img{
 	border-radius: 50%;
 	width: 90%; 
}
#sidemenu #profile #photo, #sidemenu #profile #name{
 	font-size: 18px;
 	padding: var(--padding) 0;
 	overflow: hidden;
}
/*Item*/

#sidemenu #menu-items{
	overflow: hidden;
}

#sidemenu #menu-items .item{
	width: var(--width);
}
#sidemenu #menu-items .item .icon{
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
}
#sidemenu #menu-items .item .icon{
	box-sizing: border-box;
	padding: var(--padding);
	width: var(--width-collapsed);
}
#sidemenu #menu-items .item .icon img{
	width: 70%;
}
#sidemenu #menu-items .item .icon .title{
	padding: var(--padding) 0;
}
#sidemenu #menu-items .item.separator{
	height: 1px;
	border-bottom: solid 1px var(--hovercolor);
	margin: 5px 0; 
}
.menu-expanded{
	width: var(--width);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.menu-expanded #header #title{
	display: inline-block;
	width: calc(100% - 50px);
	margin-right: -5px;
	padding: var(--padding);
}
.menu-expanded #header #title span{
	width: calc(var(--width) - var(--width-collapsed) - 5px);
	overflow: hidden;
}
.menu-expanded #profile #photo{
	width: 200px;
}
.menu-expanded #profile #name{
	width: 100%;
}
.menu-collapsed{
	width: var(--width-collapsed);
}
.menu-collapsed #header #title{
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}
.menu-collapsed #profile #name{
	display: none;
}
.menu-collapsed .item{
	width: 100px;
}
#buttonLogin{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:95px;
padding-right:95px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonLogin:hover{
	background-color:#252323;
}
#buttonHorarios{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:75px;
padding-right:75px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonHorarios:hover{
	background-color:#252323;
}


#buttonAdmin{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:55px;
padding-right:55px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonAdmin:hover{
	background-color:#252323;
}

#buttonEspacios{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:34px;
padding-right:34px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonEspacios:hover{
	background-color:#252323;
}
#buttonHabitos{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:75px;
padding-right:75px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;
}
#buttonHabitos:hover{
	background-color:#252323;
}
#buttonTutorias{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:83px;
padding-right:83px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonTutorias:hover{
	background-color:#252323;
}
#buttonSalir{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:98px;
padding-right:99px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;
}
#buttonSalir:hover{
	background-color:#252323;
}
#buttonChat{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:90px;
padding-right:90px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonChat:hover{
	background-color:#252323;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: url(https://epc-ucb.edu.bo/epc/images/harvard/c16194787837b42a12568419833c514b.jpg);
	background-size: cover;
	background-attachment: fixed;
}
* {
	box-sizing: border-box;
}
.contenedor{
	width: 100%;
	padding: 15px;
}
.formulario{
	background: #fff;
	margin-top: 150px;
	padding: 3px;
}

.formularioCreacionBibilioteca{
	background: #fff;
	margin-top: 150px;
	padding: 3px;
}
.formularioCreacionHorario{
	background: #fff;
	margin-top: 150px;
	padding: 3px;
}

.IngresarBiblioteca{
	background: #fff;
	position: absolute;
	left: 10%;

}
.ModificarBiblioteca{
	background: #fff;
	position: absolute;
	left: 30%;
}
.BuscarBiblioteca{
	background: #fff;
	position: absolute;
	left: 50%;
}

.EliminarBiblioteca{
	background: #fff;
	position: absolute;
	left: 70%;
}


/*-------------------------USUARIOS------------------------*/

.formularioCreacionUsuarios{
	background: #fff;
	margin-top: 150px;
	padding: 3px;
}





h1{
	text-align: center;
	color: #1a2537;
	font-size: 40px;
}
h2{
	text-align: left;
	color: #1a2537;
	font-size: 20px;
}
i{
	margin-left: 8px;
}
input[type="text"],
input[type="password"]{
	font-size: 20px;
	width: 82%;
	padding: 10px;
	border: none;
}
.IDs{
	font-size: 20px;
	width: 82%;
	padding: 10px;
	border: none;
}

.input-contenedor{
	margin-bottom: 15px;
	border: 1px solid #aaa;
}
.icon{
	min-width: 50px;
	text-align: center;
	color: #999;
}

.buttonOpcion{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 21%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcion1{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcion2{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 25%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcion3{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 41%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcion4{
	color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 55.5%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcion5{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 71.5%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}


.buttonOpcionmod{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 35%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}


.buttonOpcionModificarReserva{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 35%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcionBuscarReserva{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 51.5%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcionEliminarReserva{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 68%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcionbus{
	color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 51%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonOpcioneli{
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #1a2537;
    border-color: #000;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    margin-left: 66%;
    margin-right: 0px;
    margin-top: 1px;
    position: absolute;
}

.buttonRegresarAdmin{
	position: absolute;
    border: none;
    width: 10%;
    color: white;
    font-size: 20px;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 6%;
}

.button{
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background-color: #1a2537;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.buttonRegresarTutoriaActiva {
    border: none;
    width: 14%;
    color: white;
    font-size: 20px;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: 59%;
    margin-left: 84%;
}

.buttonRegresar:hover{
	background: cadetblue;
}

.button:hover{
	background: cadetblue;
}
p{
	text-align: center;
}
.link{
	text-decoration: none;
	color:#1a2537;
	font-weight: 600;
	cursor: pointer;
}
.link{
	color: cadetblue;
}
@media(min-width: 768px)
{
	.formulario{
		position: absolute;
		margin: auto;
		width: 500px;
		margin-left: 35%;
	}
	.IngresarBiblioteca{
		position: absolute;
		margin: auto;
		width: 300px;

	}
	.ModificarBiblioteca{
		position: absolute;
		margin: auto;
		width: 300px;
	}
	.BuscarBiblioteca{
		position: absolute;
		margin: auto;
		width: 300px;
	}
	.EliminarBiblioteca{
		position: absolute;
		margin: auto;
		width: 300px;
	}
	.formularioCreacionBibilioteca{
		margin: auto;
		width: 500px;
	}
	.formularioCreacionHorario{
		margin: auto;
		width: 500px;
		margin-top: 0px;
	}
	.formularioCreacionUsuarios{
		margin: auto;
		width: 500px;
	}


.titulo{
	font-size: 60px;
	margin-left: 24%;
	margin-right:24%;
	margin-top: 5%;
	margin-bottom: 4%;
	color: #000;
}
.titulo1{
    font-size: 60px;
    margin-left: 50%;
    margin-right: 24%;
    margin-top: 5%;
    margin-bottom: 4%;
    color: #000;
}
.titulo2{
    font-size: 20px;
    margin-left: 58%;
    margin-right: 24%;
    margin-top: 5%;
    margin-bottom: 4%;
    color: #000;
}
.tituloCR{
	
	margin-left: 24%;
	margin-right:24%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.opciones{
	margin-left: 1px;
	margin-right: 1px;
	width: 268px;
	height: 200px;
	margin-bottom: 20px;
}

.MANTENIMIENTOMENU{
	margin-left: auto;
}

/*----------------------------CHAT-----------------------*/
.fondotutoria{
	width: 910px;
	height: 592px;
	position: absolute;
	margin-left: 25%;
	background: #fff;
}

.MENSAJES {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
}


.chat {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 867px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MSM{
	
	font-size:medium; 
	
}

.messages{
	position: absolute;
	left: 19px;
	top: 40px;
}

.message-input{
	width: 800px;
}

.message-submit{
	width: 34px;
	height: 34px;

}

.imgenviar{
	width: 34px;
	height: 34px;
}

.messages-content{
	text-align: left;
}
/*----------------------------CHAT-----------------------*/
/*--------------------HORARIOS---------------------------*/
*, *:before, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--color-bg-calendar: #1b1e22;
	--color-cell: #e3e3e3;
	--color-cell-disabled: #424649;
}
.root {
	min-height: 30vh;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calendar{
	padding: 20px 10px;
	background-color: var(--color-bg-calendar);
	border-radius: 10px;
	width: 100%;
	max-width: 300px;
	font-family: sans-serif;
}
.calendar_header{
	color: #fff;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.calendar .control{
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0 5px;
}
.grid_header, .grid_body{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.grid_header{
	color: white;
	margin-bottom: 20px;
}
.grid_body{
	grid-auto-rows: 40px;
	color: var(--color-cell);
}
.grid_cell{
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid_cell--gd{
	cursor: pointer;
}
.grid_cell--selected{
	color: var(--color-bg-calendar);
	background-color: white;
	border-radius: 50%;
	border:2px solid white;
	box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;

}.grid_cell--disabled{
	color: var(--color-cell-disabled);
	cursor: not-allowed;
}
#buttonHorariosCrear{
color:#ffffff;
font-size: 25px;
padding-top:20px;
padding-bottom:20px;
padding-left:40px;
padding-right:40px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 23%;
margin-right: 3px; 
margin-top: 20px;
position: center;
}
#buttonHorariosVisualizar{
color:#ffffff;
font-size: 25px;
padding-top:20px;
padding-bottom:20px;
padding-left:18px;
padding-right:18px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 2px;
margin-right: 3px; 
margin-top: 20px;
position: center;
}
#buttonHorariosActualizar{
color:#ffffff;
font-size: 25px;
padding-top:20px;
padding-bottom:20px;
padding-left:18px;
padding-right:18px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 2px;
margin-right: 3px; 
margin-top: 20px;
position: center;
}
#buttonHorariosBorrar{
color:#ffffff;
font-size: 25px;
padding-top:20px;
padding-bottom:20px;
padding-left:18px;
padding-right:18px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 2px;
margin-right: 3px; 
margin-top: 20px;
position: center;
}

#buttonHorariosCrearAgregar{
color:#ffffff;
font-size: 15px;
padding-top:20px;
padding-bottom:20px;
padding-left:18px;
padding-right:18px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 56%;
margin-right: 0px; 
margin-top: 0px;
position: absolute;
}
#buttonHorariosCrearAgregarAtras{
color:#ffffff;
font-size: 15px;
padding-top:20px;
padding-bottom:20px;
padding-left:27px;
padding-right:27px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 33%;
margin-right: 0px; 
margin-top: 1px;
position: absolute;
}
#btnRegresarMenuAgendarVisualizar{
color:#ffffff;
font-size: 15px;
padding-top:20px;
padding-bottom:20px;
padding-left:27px;
padding-right:27px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 45%;
margin-right: 0px; 
margin-top: 1px;
position: absolute;
}
#btnRegresarMenuTutoriaVisualizar{
color:#ffffff;
font-size: 15px;
padding-top:20px;
padding-bottom:20px;
padding-left:27px;
padding-right:27px;
background-color:#1a2537;
border-color: #000;
border-radius: 5px;
border-width: 3px;
border-style: solid;
margin-left: 45%;
margin-right: 0px; 
margin-top: 1px;
position: absolute;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	margin-top: -60px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/

/*Habitos*/
.tituloTips{
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    font-size:  60px;
    margin-left: 24%;
    margin-right:24%;
    margin-top: 5%;
    margin-bottom: 4%;
    }

.suenio{
    width: 370px;
    height: 250px;
    margin-left: 5%;
    margin-right:2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.comer{
    width: 370px;
    height: 250px;
    margin-left: 5%;
    margin-right:2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.deporte{
    width: 370px;
    height: 250px;
    margin-left: 5%;
    margin-right:2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.divsleep{
    width: 25%;
    height: 50%;
    margin-left: 38%;
    margin-right:38%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: black;
    border-width: 34px;
}


  .buttonH{
	border: none;
	width: 80%;
	color: white;
	font-size: 20px;
	background-color: #1a2537;
    padding: 15px   ;
    margin-top: 1%;
    margin-bottom: 1%;
	border-radius: 5px;
	cursor: pointer;
}

.divresumen{
    width: 60%;
    height: 50%;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: black;
    border-width: 34px;
}
/*Fin Habitos*/
